.setUserIcon {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.setUserIcon-1 {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.displayCenterContent {
  margin: 5px auto;
}

.displayCenterContent-1 {
  margin: 13px auto;
}

.customPadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.setUserIcon-2 {
  width: 120px;
  height: auto;
  border-radius: 50%;
}
