<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="listPage">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/onion.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h2>
            Onion <span class="price">60 Per /KG</span>
          </h2>
          <h3>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </h3>
          <p class="rate">
            Rate This Product
          </p>
          <div id="quantity">
            <span class="remove"> - </span> 2
            <span class="add"> + </span>

            <span class="addButton">
              <button>Add</button>
            </span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/broccoli.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h2>
            Broccoli <span class="price">200 Per /KG</span>
          </h2>
          <h3>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </h3>
          <p class="rate">
            Rate This Product
          </p>
          <div id="quantity">
            <span class="remove"> - </span> 3
            <span class="add"> + </span>

            <span class="addButton">
              <button>Add</button>
            </span>
          </div>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>