<ion-content class="design1">
  <div class="mainContentDiv">
    <ion-buttons slot="start" class="menuButton" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="userDiv">
      <div class="firstDiv">
        <ion-label class="welcome">Welcome</ion-label>
        <p class="userName ion-no-margin">Test User</p>
      </div>
      <div class="userBack" [style.backgroundImage]="'url(assets/images/user.png)'"></div>
    </div>
    <div class="contentDiv animated bounceInUp">
      <ion-label class="helloLabel">Hello, Please choose your subject</ion-label>
      <ion-grid fixed>
        <ion-row class="ion-padding">
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 1
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 3
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 3
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 4
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 5
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 6
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 6
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="colDiv">
              <img src="assets/images/user.png" alt="">
              <ion-label color="secondary">
                <ion-text color="secondary">
                  Subject 7
                </ion-text>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>